<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c624e2de-2e60-4394-b9e1-ba9652fbfdd7" Publisher="CN=xie" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TestFindMediaServer</DisplayName>
    <PublisherDisplayName>xie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TestFindMediaServer.App">
      <VisualElements DisplayName="TestFindMediaServer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TestFindMediaServer" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="videosLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>