<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9f470e6b-95f7-484b-9b15-1a191dd0a6bf" Publisher="CN=xie" Version="1.0.0.5" />
  <Properties>
    <DisplayName>GenieWin8</DisplayName>
    <PublisherDisplayName>xie</PublisherDisplayName>
    <Logo>Assets\NETGEAR_Genie_ico_50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GenieWin8.App">
      <VisualElements DisplayName="GenieWin8" Logo="Assets\NETGEAR_Genie_ico_150.png" SmallLogo="Assets\NETGEAR_Genie_ico_30.png" Description="GenieWin8" ForegroundText="light" BackgroundColor="#3030FF">
        <DefaultTile ShowName="noLogos" />
        <SplashScreen Image="Assets\开机画面620x300.png" BackgroundColor="#E6E6FB" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="custom_device_info">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="documentsLibrary" />
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>